/* 

Tooplate 2128 Tween Agency

https://www.tooplate.com/view/2128-tween-agency

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #3300cc;
  --section-bg-color: #f5f5f5;
  --border-color: #dee2e6;
  --dark-color: #000000;
  --grey-color: #fcfeff;
  --title-color: #565758;
  --p-color: #717275;
  --footer-bg-color: #07262e;

  --body-font-family: "Karla", sans-serif;

  --h1-font-size: 68px;
  --h2-font-size: 42px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --menu-font-size: 18px;
  --copyright-text-font-size: 16px;
  --custom-link-font-size: 14px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.paddingText {
  padding: 50px;
}

.navbar-brand i {
  margin-right: 12px;
}

.backstretch {
  max-width: 99.99%;
}

/*---------------------------------------
  CUSTOM ICON               
-----------------------------------------*/
.play-icon-wrap {
  background: var(--white-color);
  border-radius: 0.3rem;
  position: relative;
  z-index: 2;
  padding: 10px 12px;
  max-width: 152.31px;
}

.play-icon {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 100px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

.play-icon::before {
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-bold);
  padding: 12px 24px;
}

.custom-bg-dark {
  background: var(--primary-color);
}

.custom-bg-dark:hover {
  background: var(--dark-color);
}

.custom-btn:hover {
  background: var(--dark-color);
  color: var(--white-color);
}

/*---------------------------------------
  FAQ ACCORDION               
-----------------------------------------*/
.accordion-item {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.accordion-header,
.accordion-button {
  color: var(--p-color);
}

.accordion-button {
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
}

button:focus:not(:focus-visible) {
  border-color: transparent;
  box-shadow: none;
}

.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button {
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-normal);
  padding-top: 1.5rem;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
}

.accordion-body {
  padding: 2rem 0;
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
}

.heroText {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 991px) {
  .hero {
    height: 75vh;
    min-height: 600px;
  }
}

.overlay {
  background: rgba(128, 142, 176, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.overlay.dark-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.nav-tabs .nav-link {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid transparent;
  color: var(--border-color);
  font-weight: var(--font-weight-bold);
  margin: auto;
  position: relative;
  top: 1px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
  border-bottom-color: var(--primary-color);
  color: var(--dark-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.3s ease-out;
}
.navbar-brandblue,
.navbar-brand-pages {
  display: none;
}
.navbar-brandblue-pages {
  display: block;
}

.sticky-nav {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.sticky-nav .navbar-brand {
  display: none;
}
.sticky-nav .navbar-brandblue {
  display: block;
}

.sticky-nav .navbar-nav .nav-link {
  color: var(--p-color);
}

.navbar-brand {
  font-size: 40px;
  color: var(--white-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}
.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-link {
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav .nav-pages {
  color: var(--p-color);
}

.navbar-nav li .nav-link.active,
.navbar-nav li .nav-link:hover {
  color: #cac9c6;
}
.sticky-nav li .nav-link:hover,
.sticky-nav li .nav-link.active,
.navbar-nav li .nav-pages:hover,
.navbar-nav li .nav-pages.active {
  color: var(--primary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--p-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--p-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  OUR products              
-----------------------------------------*/
.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-thumb-text {
  padding: 20px 30px;
}
.work-thumb:hover {
  box-shadow: 0 2rem 5rem rgba(22, 20, 20, 0.175);
}

.work-thumb:hover .work-image {
  opacity: 1;
  transform: scale(1.1);
}

.work-text-info {
  background: var(--section-bg-color);
  border-radius: 0.3rem;
  border-bottom: 5px solid var(--border-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  transition: filter 0.5s;
  filter: blur(1px);
}

.work-thumb:hover .work-text-info {
  filter: blur(0);
}

.work-title {
  display: block;
  margin-bottom: 0;
}

.work-image {
  border-radius: 0.3rem;
  transition: all 0.5s;
}

.work-tag {
  border-radius: 100px;
  color: var(--p-color);
  font-size: 12px;
  font-weight: var(--font-weight-light);
  padding: 2px 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  margin-bottom: 10px;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  padding-top: 13px;
  padding-bottom: 13px;
}

.custom-form label {
  color: var(--p-color);
  font-weight: var(--font-weight-normal);
}

.custom-form button[type="submit"] {
  background: var(--primary-color);
  border: 0;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--dark-color);
  color: var(--white-color);
}

.subscribe-form .form-control {
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: var(--white-color);
  color: var(--white-color);
}

.subscribe-form input {
  border-radius: 0;
}

.subscribe-form button[type="submit"] {
  background: var(--white-color);
  color: var(--dark-color);
}

/*---------------------------------------
  Product section               
-----------------------------------------*/
.swiper {
  width: 600px;
  height: 400px;
}
.swiper-slide {
  text-align: center;
  border: 1px solid gray;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.175);
  border-radius: 40px;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.products {
  background-color: var(--section-bg-color);
  position: relative;
}

.products .container {
  position: relative;
  z-index: 2;
}
.product-btn {
  text-align: center;
  margin-top: 20px;
}

/*---------------------------------------
  SERVICES               
-----------------------------------------*/
.services {
  background: var(--section-bg-color);
}

.services-image {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
}

.services-info {
  background: var(--white-color);
  position: relative;
  text-align: center;
  height: 250px;
}
.mechanicaltitle {
  font-size: 25px;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--footer-bg-color);
  padding-top: 50px;
  /* padding-bottom: 100px; */
}

.site-footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tooplate-link a {
  color: var(--white-color);
}

.footer-menu {
  padding: 0;
}

.footer-menu-item {
  display: block;
  list-style: none;
}

.footer-menu-link,
.footer-link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: var(--copyright-text-font-size);
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-menu-link:hover,
.footer-link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.site-footer .social-icon-link,
.site-footer .copyright-text {
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
}

.site-footer .social-icon {
  text-align: right;
}

.site-footer .copyright-text {
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/* ----------------------------
mail page 
---------------------------- */

.mailsend {
  background-color: #e5e8e9;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 70px auto;
  padding: 30px 20px;
}
.mailsend p a {
  font-weight: bold;
  color: red;
}
.mailsend p a:hover {
  font-weight: bold;
  color: var(--primary-color);
}
.mailsend h1 {
  font-size: 40px;
}


/* -------------------------------
About page 
------------------------------- */
#About-sec {
  background-image: url("../images/about.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.about-contant, .services-contant {
  display: flex;
  flex-flow: row;
  background-color: white;
}
.about-info .about-head {
  color: red;
}
.mission {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}
.mission-contain {
  flex-basis: 32%;
  text-align: center;
  background-color: #374E53;
  margin: 70px 0;
  padding: 20px;
}
.mission-icon {
  width: 100px;
  height: 100px;
  background-color: rgb(66, 128, 243);
  border-radius: 50%;
  margin: -70px  auto;
  margin-bottom: 30px;
}
.mission-icon i {
 font-size: 60px;
  color: white;
  margin-top: 21px;
}
.mission-contain h3,.mission-contain p, .mission-contain ul{
  color: white;
}

/* -------------------------------
services page 
------------------------------- */
#services-sec {
  background-image: url("../images/services/services-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 90%;
}
.services-contant{
  margin-top: 50px;
}
.serv-container-head {
  margin-top: 70px;
  text-align: center;
}
.serv-details {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
}
.serv-info {
  margin-top: 50px;
  text-align: left;
}
.services-contain{
  border: 1px solid lightgray;
  padding: 10px 10px;
  flex-basis: 33%;
}
.serv-img {
  height: 200px;
}
.services-contain .serv-img img {
  width: 100%;
  height: 100%;
}
.services-contain .serv-info h4{
  color: #1E3089;
  margin-bottom: 30px;
}
.services-contain .serv-info ul {
  color: var(--p-color);
}

/* -------------------------------
products page 
------------------------------- */
.product-head {
  text-align: center;
  margin: 50px auto;
}
#products-sec {
  background-image: url("../images/products/products-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
.products-list {
  margin: 50px auto;
  display: flex;
  height: 400px;
}
.nav-pills .pills-title{
  border-bottom: 1px solid  gray;
  flex-basis: 20%;
}
.nav-pills .nav-link:hover {
  color: #fff;
  background-color: #5292f3;
}

.nav-pills {
  flex-basis: 25%;
}
.pro-img{
  width: 600px;
  height: 400px;
}
.pro-item-img {
  width: 100%;
  height: 100%;
}
.pro-item-des {
  margin-top: -59px;
  
}
.pro-item-des h6 a {
  color: blue;
}
.pro-item-des h6 a:hover {
  color: red;
}
.see-more {
  display: inline-block;
  padding: 0.5em 1.5em 1em;
  width: 600px;
  background: rgba(179, 181, 190, 0.8);
  text-align: right;
  align-items: center;
}

/* -------------------------------
Products Bearings page 
------------------------------- */
.bearing-title, .areation-title{
  margin-bottom: 50px;
}
.berings-list {
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.bearing-item {
  flex-basis: 24%;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.bearing-item p {
  font-size: 15px;
}
.Bearing-item-img{
  margin: 10px auto;
  width: 200px;
  height: 200px;
}

.Bearing-item-img img{
  width: 100%;
  height: 100%;
}
.back{
  margin-bottom: 50px;
}
.back h6 a{
  color: blue;
  text-decoration: underline;
}
.back h6 a:hover{
  color: red;
}

/* -------------------------------
Products Bearings page 
------------------------------- */

.areation-details {
  margin-bottom: 50px;
}

.aeration-item{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.aeration-description {
  flex-basis: 60%;
  padding: 20px 15px;
  border-radius: 20px;
}
.aeration-description p{
  font-size: 15px;
}

.aeration-item .aeration-img {
  background-color: #374E53;
  flex-basis: 40%;
  margin: auto 10px;
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 5px;
}
.aeration-img img{
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.are-content1 {
  background-color: #FFC107;
  padding-top: 50px;
  margin-top: -60px;
}
.are-content2 {
  padding-bottom: 80px;
  background-color: #4DAC7B;
}
.aeration-description h5 ,.aeration-description p{
  color: white;
}

/* -------------------------------
projects page 
------------------------------- */
.valves-items{
  flex-basis: 32%;
  border: 1px solid gray;
  margin-bottom: 10px;
}


/* -------------------------------
projects page 
------------------------------- */

#project-sec {
  background-image: url("../images/projects/project-banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;  
}


/* -------------------------------
contact page 
------------------------------- */
#section_7 {
  background-image: url("../images/get-in-touch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top ;
  opacity: 90%;
  text-align: left;
}
.contact-head {
  display:inherit
  text-align: left;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  background-color: #dee2e6;
  padding: 10px;
  border-radius: 10px;
}
.contact-info {
  margin: auto 40px;
  align-items: center;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .custom-btn {
    font-size: var(--copyright-text-font-size);
    padding: 8px 16px;
  }

  .navbar {
    background: var(--white-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-brandblue {
    display: block;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar-brand {
    color: var(--dark-color);
  }

  .navbar-nav .nav-link {
    color: var(--p-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .site-footer {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .site-footer-bottom,
  .site-footer .social-icon {
    text-align: center;
  }

  #section_7 {
    margin-top: -30px;
    
  }
  .location  {
    width: 100%;
  }
  
  iframe {
    width: 100%;
    height: auto;
  }
/* about page  */
#About-sec {
  
  background-size: cover;
  background-position-y: center;
}

/* -------------------
services page 
-------------------- */
#services-sec {
  
  background-position: center;
  
}
 .services-contant {
 flex-direction: column;
}
.serv-head-img{
  width: 80%;
}
.serv-head-img img {
  width: 100%;
}

/* -------------------------------
Product page 
------------------------------- */
.products-list {
  flex-direction: column;
  text-align: center;
}
.flex-column{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
.pro-img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.pro-item-img {
  width: 100%;
  height: 100%;
}

.see-more {
  width: 80%;
  margin: 0 auto;
}
.pro-item-des {
  margin-top: -48px;
}
}
@media screen and (max-width: 650px){
/* ------------------
products page 
------------------ */

.nav-pills .pills-title{
  flex-basis: 30%;
}

/* ------------------
aeration page 
------------------ */
.aeration-item{
  flex-flow: column-reverse;
  justify-content: center;
  text-align: center;
}
.are-content1 {
  padding-top: 50px;
  margin-top: 0;
}
.areation-details .are-item2{
  margin-top: 30px;
  flex-flow: column;
}
.aeration-item .aeration-img {
  margin: auto;
  width: 90%;
}
.back {
  display: flex;
  justify-content: center;
}
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  .paddingText {
    padding: 25px;
  }

  .pricing-plan {
    padding: 60px 30px 20px 30px;
  }

  .pricing-header {
    padding-bottom: 20px;
  }

  .pricing-body {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .contact-head h1{
    font-size: 27px;
  }

  /* about page  */
  .about-contant {
   flex-direction: column;
}
.mission {
  
  flex-direction: column;
 
}

/* ------------------
services page 
------------------ */
.serv-details {
  
  flex-direction: column;
 
}

/* ------------------
products page 
------------------ */

.nav-pills .pills-title{
  flex-basis: 30%;
}
.pro-item-des {
  margin-top: -47px;
}
}

@media screen and (max-width: 480px) {
  .pricing-name,
  .pricing-price {
    margin-bottom: 0;
  }

  .pricing-price {
    max-width: 45px;
    margin-right: auto;
  }


}
